In [86]:
import pandas as pd

In [87]:
gff_data = pd.read_csv('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/1448933.3.gff', delimiter='\t', header=None)

In [90]:
tRNA_gff_data = pd.read_csv('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/tRNA.gff', delimiter='\t', header=None)

In [97]:
gff_data = pd.concat([gff_data, tRNA_gff_data])

In [98]:
tRNA_gff_data = tRNA_gff_data.iloc[:,[3,4,6,8]]

In [99]:
gff_data = gff_data.iloc[:,[3,4,6,8]]

In [100]:
gff_data

           3        4  6                                                  8
0          2     2227  -  ID=fig|1448933.3.peg.1;Name=beta-glucosidase (...
1       2259     3155  -   ID=fig|1448933.3.peg.2;Name=hypothetical protein
2       3265     4527  -   ID=fig|1448933.3.peg.3;Name=hypothetical protein
3       4530     4667  -   ID=fig|1448933.3.peg.4;Name=hypothetical protein
4       4690     5208  +   ID=fig|1448933.3.peg.5;Name=hypothetical protein
..       ...      ... ..                                                ...
127  1124017  1124091  -          ID=fig|1448933.3.rna.43;Name=tRNA-Gly-TCC
128  1124017  1124091  -          ID=fig|1448933.3.rna.43;Name=tRNA-Gly-TCC
129  1169723  1169797  +          ID=fig|1448933.3.rna.44;Name=tRNA-Thr-TGT
130  1169723  1169797  +          ID=fig|1448933.3.rna.44;Name=tRNA-Thr-TGT
131  1169723  1169797  +          ID=fig|1448933.3.rna.44;Name=tRNA-Thr-TGT

[1555 rows x 4 columns]

In [101]:
gff_data[8] = [i.split('|')[1].split(';')[0] for i in gff_data[8]]

In [136]:
tRNA_gff_data[8] = [i.split('|')[1].split(';')[0] for i in tRNA_gff_data[8]]

/tmp/ipykernel_143024/826490612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tRNA_gff_data[8] = [i.split('|')[1].split(';')[0] for i in tRNA_gff_data[8]]

In [138]:
tRNA_gff_data

           3        4  6                 8
0     244124   244196  +   1448933.3.rna.1
1     244124   244196  +   1448933.3.rna.1
2     244124   244196  +   1448933.3.rna.1
3     274841   274925  +   1448933.3.rna.2
4     274841   274925  +   1448933.3.rna.2
..       ...      ... ..               ...
127  1124017  1124091  -  1448933.3.rna.43
128  1124017  1124091  -  1448933.3.rna.43
129  1169723  1169797  +  1448933.3.rna.44
130  1169723  1169797  +  1448933.3.rna.44
131  1169723  1169797  +  1448933.3.rna.44

[132 rows x 4 columns]

In [102]:
data_eggnog = pd.read_csv('/home/aster/Project_Geoarchaeota_28.11/results/eggNog_mapper/MM_k15bh4a0.emapper.annotations(1).tsv', delimiter='\t')

In [103]:
data_eggnog.head()

,ID,seed_ortholog,evalue,score,eggNOG_OGs,max_annot_lvl,COG_category,Description,Preferred_name,GOs,...,KEGG_ko,KEGG_Pathway,KEGG_Module,KEGG_Reaction,KEGG_rclass,BRITE,KEGG_TC,CAZy,BiGG_Reaction,PFAMs
0,fig|1448933.3.peg.1,930945.SiRe_2208,8.040000e-276,784.0,"COG1472@1|root,arCOG04634@2157|Archaea,2XPMS@2...",28889|Crenarchaeota,G,Fibronectin type III-like domain,-,-,...,ko:K05349,"ko00460,ko00500,ko00940,ko01100,ko01110,map004...",-,"R00026,R02558,R02887,R02985,R03527,R04949,R049...","RC00049,RC00059,RC00171,RC00262,RC00397,RC0045...","ko00000,ko00001,ko01000",-,GH3,-,"Fn3-like,Glyco_hydro_3,Glyco_hydro_3_C"
1,fig|1448933.3.peg.5,1459636.NTE_01989,2.680000e-26,104.0,"COG1832@1|root,arCOG04227@2157|Archaea,41SMT@6...",651137|Thaumarchaeota,S,CoA binding domain,-,-,...,ko:K06929,-,-,-,-,ko00000,-,-,-,CoA_binding_2
2,fig|1448933.3.peg.6,1209989.TepiRe1_0483,9.240000e-75,239.0,"COG1082@1|root,COG1082@2|Bacteria,1UITG@1239|F...",186801|Clostridia,G,Xylose isomerase-like TIM barrel,-,-,...,ko:K01805,"ko00040,ko00051,ko01100,map00040,map00051,map0...",-,"R00878,R01432","RC00376,RC00516","ko00000,ko00001,ko01000",-,-,-,AP_endonuc_2
3,fig|1448933.3.peg.8,1343739.PAP_09645,2.200000e-33,121.0,"COG0432@1|root,arCOG04214@2157|Archaea,2XYW0@2...",183968|Thermococci,S,Uncharacterised protein family UPF0047,-,-,...,-,-,-,-,-,-,-,-,-,UPF0047
4,fig|1448933.3.peg.9,1353529.M899_1098,7.730000e-08,61.2,"COG0530@1|root,COG0530@2|Bacteria,1MU3R@1224|P...",28221|Deltaproteobacteria,P,Sodium/calcium exchanger protein,-,-,...,ko:K07301,-,-,-,-,"ko00000,ko02000",2.A.19.5,-,-,Na_Ca_ex

In [104]:
data_eggnog['ID'] = [i.split('|')[1] for i in data_eggnog['ID']]

In [105]:
data_eggnog

,ID,seed_ortholog,evalue,score,eggNOG_OGs,max_annot_lvl,COG_category,Description,Preferred_name,GOs,...,KEGG_ko,KEGG_Pathway,KEGG_Module,KEGG_Reaction,KEGG_rclass,BRITE,KEGG_TC,CAZy,BiGG_Reaction,PFAMs
0,1448933.3.peg.1,930945.SiRe_2208,8.040000e-276,784.0,"COG1472@1|root,arCOG04634@2157|Archaea,2XPMS@2...",28889|Crenarchaeota,G,Fibronectin type III-like domain,-,-,...,ko:K05349,"ko00460,ko00500,ko00940,ko01100,ko01110,map004...",-,"R00026,R02558,R02887,R02985,R03527,R04949,R049...","RC00049,RC00059,RC00171,RC00262,RC00397,RC0045...","ko00000,ko00001,ko01000",-,GH3,-,"Fn3-like,Glyco_hydro_3,Glyco_hydro_3_C"
1,1448933.3.peg.5,1459636.NTE_01989,2.680000e-26,104.0,"COG1832@1|root,arCOG04227@2157|Archaea,41SMT@6...",651137|Thaumarchaeota,S,CoA binding domain,-,-,...,ko:K06929,-,-,-,-,ko00000,-,-,-,CoA_binding_2
2,1448933.3.peg.6,1209989.TepiRe1_0483,9.240000e-75,239.0,"COG1082@1|root,COG1082@2|Bacteria,1UITG@1239|F...",186801|Clostridia,G,Xylose isomerase-like TIM barrel,-,-,...,ko:K01805,"ko00040,ko00051,ko01100,map00040,map00051,map0...",-,"R00878,R01432","RC00376,RC00516","ko00000,ko00001,ko01000",-,-,-,AP_endonuc_2
3,1448933.3.peg.8,1343739.PAP_09645,2.200000e-33,121.0,"COG0432@1|root,arCOG04214@2157|Archaea,2XYW0@2...",183968|Thermococci,S,Uncharacterised protein family UPF0047,-,-,...,-,-,-,-,-,-,-,-,-,UPF0047
4,1448933.3.peg.9,1353529.M899_1098,7.730000e-08,61.2,"COG0530@1|root,COG0530@2|Bacteria,1MU3R@1224|P...",28221|Deltaproteobacteria,P,Sodium/calcium exchanger protein,-,-,...,ko:K07301,-,-,-,-,"ko00000,ko02000",2.A.19.5,-,-,Na_Ca_ex
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,1448933.3.peg.1417,561175.KB894094_gene1906,5.220000e-104,320.0,"COG4948@1|root,COG4948@2|Bacteria,2GJJR@201174...",201174|Actinobacteria,M,"Converts 2-succinyl-6-hydroxy-2,4-cyclohexadie...",-,-,...,ko:K01706,"ko00053,ko01100,map00053,map01100",-,"R02752,R08056",RC00543,"ko00000,ko00001,ko01000",-,-,-,"MR_MLE_C,MR_MLE_N"
831,1448933.3.peg.1418,397948.Cmaq_1620,7.380000e-187,538.0,"COG4697@1|root,arCOG04132@2157|Archaea,2XPPB@2...",28889|Crenarchaeota,S,protein conserved in archaea (DUF2139),-,-,...,ko:K02040,"ko02010,ko02020,ko05152,map02010,map02020,map0...",M00222,-,-,"ko00000,ko00001,ko00002,ko02000",3.A.1.7,-,-,DUF2139
832,1448933.3.peg.1421,1104324.P186_0339,6.070000e-73,229.0,"COG0603@1|root,arCOG00039@2157|Archaea",2157|Archaea,H,Catalyzes the ATP-dependent conversion of 7-ca...,queC,-,...,ko:K06920,"ko00790,ko01100,map00790,map01100",-,R09978,RC00959,"ko00000,ko00001,ko01000,ko03016",-,-,-,QueC
833,1448933.3.peg.1422,944435.AXAJ01000001_gene502,2.270000e-09,63.5,"COG0546@1|root,COG0546@2|Bacteria,1R8YE@1224|P...",28216|Betaproteobacteria,S,Specifically catalyzes the dephosphorylation o...,-,-,...,ko:K01091,"ko00630,ko01100,ko01110,ko01130,map00630,map01...",-,R01334,RC00017,"ko00000,ko00001,ko01000",-,-,-,HAD_2
834,1448933.3.peg.1423,273057.SSO3022,3.290000e-234,677.0,"COG1501@1|root,arCOG03663@2157|Archaea,2XRT3@2...",28889|Crenarchaeota,G,Belongs to the glycosyl hydrolase 31 family,-,-,...,ko:K01811,-,-,-,-,"ko00000,ko01000",-,GH31,-,"DUF5110,Gal_mutarotas_2,Glyco_hydro_31"

In [106]:
d = {'J':'ff0000', 'A':'c2af58', 'K':'ff9900', 'L':'ffff00', 'B':'ffc600',
    'D':'99ff00', 'Y':'493126', 'V':'ff008a', 'T':'0000ff', 'M':'9ec928',
    'N':'006633', 'Z':'660099', 'W':'336699', 'U':'33cc99', 'O':'00ffff', 
    'C':'9900ff', 'G':'805642', 'E':'ff00ff', 'H':'727dcc', 'I':'5c5a1b',
    'P':'0099ff', 'Q':'ffcc99', 'R':'ff9999','S':'d6aadf', 'F':'99334d',
    'IQ':'ffcc99',
    '-':'white',
    'EGP':'ff00ff',
    'CP':'9900ff',
    'JM':'ff0000',
    'EP':'ff00ff',
    'NU':'006633',
    'HP':'727dcc',
    'GM':'805642'
    }

По идеи можно так сделать так как circos оставит не занятые места белым по умлочанию.

In [107]:
plus_strand_gff = gff_data[gff_data[6] == '+']
minus_strand_gff = gff_data[gff_data[6] == '-']

In [126]:
plus_strand_gff.head()

        3      4  6                 8
4    4690   5208  +   1448933.3.peg.5
15  15761  15955  +  1448933.3.peg.16
16  15989  17098  +  1448933.3.peg.17
19  19106  19795  +  1448933.3.peg.20
20  19792  20514  +  1448933.3.peg.21

In [108]:
for idx,row in plus_strand_gff.iterrows():
    for idx2, row2, in data_eggnog.iterrows():
        if row[8] == row2['ID']:
            plus_strand_gff.loc[idx,'color'] = f"fill_color={d[row2['COG_category']]}"

/tmp/ipykernel_169544/2845654062.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plus_strand_gff.loc[idx,'color'] = f"fill_color={d[row2['COG_category']]}"

In [109]:
for idx,row in minus_strand_gff.iterrows():
    for idx2, row2, in data_eggnog.iterrows():
        if row[8] == row2['ID']:
            minus_strand_gff.loc[idx,'color'] = f"fill_color={d[row2['COG_category']]}"

/tmp/ipykernel_169544/559908217.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  minus_strand_gff.loc[idx,'color'] = f"fill_color={d[row2['COG_category']]}"

6700e6

In [139]:
for idx,row in tRNA_gff_data.iterrows():
    tRNA_gff_data.loc[idx,'color'] = f"fill_color=6700e6"

/tmp/ipykernel_143024/3639100162.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tRNA_gff_data.loc[idx,'color'] = f"fill_color=6700e6"

In [140]:
tRNA_gff_data

           3        4  6                 8              color
0     244124   244196  +   1448933.3.rna.1  fill_color=6700e6
1     244124   244196  +   1448933.3.rna.1  fill_color=6700e6
2     244124   244196  +   1448933.3.rna.1  fill_color=6700e6
3     274841   274925  +   1448933.3.rna.2  fill_color=6700e6
4     274841   274925  +   1448933.3.rna.2  fill_color=6700e6
..       ...      ... ..               ...                ...
127  1124017  1124091  -  1448933.3.rna.43  fill_color=6700e6
128  1124017  1124091  -  1448933.3.rna.43  fill_color=6700e6
129  1169723  1169797  +  1448933.3.rna.44  fill_color=6700e6
130  1169723  1169797  +  1448933.3.rna.44  fill_color=6700e6
131  1169723  1169797  +  1448933.3.rna.44  fill_color=6700e6

[132 rows x 5 columns]

In [110]:
plus_strand_gff

           3        4  6                 8              color
4       4690     5208  +   1448933.3.peg.5  fill_color=d6aadf
15     15761    15955  +  1448933.3.peg.16                NaN
16     15989    17098  +  1448933.3.peg.17  fill_color=99334d
19     19106    19795  +  1448933.3.peg.20  fill_color=d6aadf
20     19792    20514  +  1448933.3.peg.21  fill_color=5c5a1b
..       ...      ... ..               ...                ...
121  1050860  1050958  +  1448933.3.rna.41                NaN
122  1050860  1050958  +  1448933.3.rna.41                NaN
129  1169723  1169797  +  1448933.3.rna.44  fill_color=9ec928
130  1169723  1169797  +  1448933.3.rna.44                NaN
131  1169723  1169797  +  1448933.3.rna.44                NaN

[789 rows x 5 columns]

In [111]:
minus_strand_gff

           3        4  6                 8              color
0          2     2227  -   1448933.3.peg.1  fill_color=805642
1       2259     3155  -   1448933.3.peg.2                NaN
2       3265     4527  -   1448933.3.peg.3                NaN
3       4530     4667  -   1448933.3.peg.4                NaN
5       5203     6099  -   1448933.3.peg.6  fill_color=805642
..       ...      ... ..               ...                ...
124  1107407  1107479  -  1448933.3.rna.42                NaN
125  1107407  1107479  -  1448933.3.rna.42  fill_color=ffff00
126  1124017  1124091  -  1448933.3.rna.43                NaN
127  1124017  1124091  -  1448933.3.rna.43                NaN
128  1124017  1124091  -  1448933.3.rna.43                NaN

[766 rows x 5 columns]

In [112]:
for idx, row in plus_strand_gff.iterrows():
    with open('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/plus_strand_highlights.txt', 'a') as plus_write:
        plus_write.write(f"genome {row[3]} {row[4]} {row['color']} \n")

In [113]:
for idx, row in minus_strand_gff.iterrows():
    with open('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/minus_strand_highlights.txt', 'a') as minus_write:
        minus_write.write(f"genome {row[3]} {row[4]} {row['color']} \n")

In [141]:
for idx, row in tRNA_gff_data.iterrows():
    with open('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/tRNA_highlights.txt', 'a') as trna_write:
        trna_write.write(f"genome {row[3]} {row[4]} {row['color']} \n")

## GC content GC_skew

In [1]:
def CG_cont(lis:str) -> float:
    lis = lis.upper()
    GC = lis.count('G') + lis.count('C')
    return GC/len(lis)

def CG_skew(lis:str) -> float:
    lis = lis.upper()
    G = lis.count('G')
    C = lis.count('C')
    return (G - C)/(G + C)

In [2]:
with open('/home/aster/Project_Geoarchaeota_28.11/data/sequences_annotation/1448933.3.contigs.fa', 'r') as read_file:
    genome_data = read_file.read().split('\n')[1::]
    genome_data = ''.join(genome_data)

In [80]:
sliding_window = 5000
step = 0
step_size = 1000
r_bords = []
GCskew = []
GCcont = []
l_bords = []
for i in range(0,len(genome_data)):

    l_bord = step
    r_bord = sliding_window + l_bord
    step += step_size
    window = genome_data[l_bord:r_bord]

    l_bords.append(l_bord)
    r_bords.append(r_bord-sliding_window)
    GCskew.append(CG_skew(window))
    GCcont.append(CG_cont(window))

    if r_bord >= len(genome_data):
        break

GCskew.append((GCskew[0] + GCskew[-1])/2) #Замыкание кольца гистограммы
GCcont.append((GCcont[0] + GCcont[-1])/2)
l_bords.append(l_bords[-1] + sliding_window-step_size )
r_bords.append(r_bords[-1]  + sliding_window )

In [84]:
for i,j,k, t in list(zip(r_bords, GCskew, GCcont, l_bords)):
    with open('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/GC_skew', 'a') as skew_file:
        if j > 0:
            skew_file.write(f"genome {t+1} {i+1} {j} fill_color=green \n")
        else:
            skew_file.write(f"genome {t+1} {i+1} {j} fill_color=red \n")

    with open('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/GC_cont', 'a') as cont_file:
            #k2 = (k - min(GCcont))/(max(GCcont)-(min(GCcont))) #minmax norm
            if k > 0.5:
                cont_file.write(f"genome {t+1} {i+1} {k} fill_color=blue\n")
            else:
                cont_file.write(f"genome {t+1} {i+1} {k} fill_color=orange\n")

# repeats

In [119]:
repeats_data = pd.read_csv('/home/aster/Project_Geoarchaeota_28.11/results/repeats_ident_in_genome/repeats.tsv', delimiter='\t')

In [116]:
repeats_data.head()

,Subject,Query,identity,lenght,missmatch,gapopen,evalue,coverage,bitscore
0,fig|1448933.3.peg.1,fig|1448933.3.peg.1203,91.070,1803,146,12,0.000000e+00,81,2423.0
1,fig|1448933.3.peg.18,fig|1448933.3.peg.1359,97.297,222,5,1,8.530000e-105,20,375.0
2,fig|1448933.3.peg.32,fig|1448933.3.peg.1254,87.956,631,65,10,0.000000e+00,71,734.0
3,fig|1448933.3.peg.34,fig|1448933.3.peg.1229,95.302,149,7,0,5.180000e-63,11,237.0
4,fig|1448933.3.peg.46,fig|1448933.3.peg.47,100.000,50,0,0,8.820000e-20,5,93.5

In [120]:
repeats_data = repeats_data[repeats_data['coverage'] >= 60]

In [191]:
repeats_data.head()

,Subject,Query,identity,lenght,missmatch,gapopen,evalue,coverage,bitscore
0,1448933.3.peg.1,1448933.3.peg.1203,91.070,1803,146,12,0.000000e+00,81,2423.0
2,1448933.3.peg.32,1448933.3.peg.1254,87.956,631,65,10,0.000000e+00,71,734.0
9,1448933.3.peg.126,1448933.3.peg.457,84.674,1181,179,2,0.000000e+00,96,1177.0
19,1448933.3.peg.166,1448933.3.peg.167,88.046,527,57,6,2.480000e-178,68,619.0
20,1448933.3.peg.167,1448933.3.peg.166,88.046,527,57,6,2.480000e-178,68,619.0

In [128]:
repeats_data['Subject'] = [i.split('|')[1] for i in repeats_data['Subject']]
repeats_data['Query'] = [i.split('|')[1] for i in repeats_data['Query']]

In [124]:
gff_data.head()

      3     4  6                8
0     2  2227  -  1448933.3.peg.1
1  2259  3155  -  1448933.3.peg.2
2  3265  4527  -  1448933.3.peg.3
3  4530  4667  -  1448933.3.peg.4
4  4690  5208  +  1448933.3.peg.5

In [160]:
test = pd.DataFrame()

In [175]:
for idx,row in repeats_data.iterrows():
    for idx2, row2 in gff_data.iterrows():
        if row['Subject'] == row2[8]:
            test.loc[idx,'rep1'] = row['Subject']
            test.loc[idx,'start1'] = int(row2[3])
            test.loc[idx,'stop1'] = int(row2[4])
        if row['Query'] == row2[8]:
            test.loc[idx,'rep2'] = row['Query']
            test.loc[idx,'start2'] = int(row2[3])
            test.loc[idx,'stop2'] = int(row2[4])

In [192]:
test

,rep1,start1,stop1,rep2,start2,stop2
0,1448933.3.peg.1,2.0,2227.0,1448933.3.peg.1203,1187190.0,1189421.0
2,1448933.3.peg.32,33288.0,34172.0,1448933.3.peg.1254,1251764.0,1252564.0
9,1448933.3.peg.126,127616.0,128842.0,1448933.3.peg.457,452057.0,453271.0
19,1448933.3.peg.166,173051.0,173815.0,1448933.3.peg.167,173822.0,174586.0
20,1448933.3.peg.167,173822.0,174586.0,1448933.3.peg.166,173051.0,173815.0
33,1448933.3.peg.380,387578.0,388561.0,1448933.3.peg.1347,1340116.0,1341039.0
34,1448933.3.peg.380,387578.0,388561.0,1448933.3.peg.480,473478.0,474488.0
35,1448933.3.peg.457,452057.0,453271.0,1448933.3.peg.126,127616.0,128842.0
38,1448933.3.peg.480,473478.0,474488.0,1448933.3.peg.1347,1340116.0,1341039.0
39,1448933.3.peg.480,473478.0,474488.0,1448933.3.peg.380,387578.0,388561.0
44,1448933.3.peg.592,577320.0,577952.0,1448933.3.peg.1123,1103905.0,1104534.0
54,1448933.3.peg.638,625469.0,626578.0,1448933.3.peg.1193,1178019.0,1178966.0
66,1448933.3.peg.846,821351.0,821605.0,1448933.3.peg.126,127616.0,128842.0
67,1448933.3.peg.846,821351.0,821605.0,1448933.3.peg.457,452057.0,453271.0
77,1448933.3.peg.1040,1010280.0,1012262.0,1448933.3.peg.1053,1026923.0,1028950.0
78,1448933.3.peg.1040,1010280.0,1012262.0,1448933.3.peg.1410,1411587.0,1413539.0
81,1448933.3.peg.1053,1026923.0,1028950.0,1448933.3.peg.1040,1010280.0,1012262.0
82,1448933.3.peg.1053,1026923.0,1028950.0,1448933.3.peg.1410,1411587.0,1413539.0
89,1448933.3.peg.1123,1103905.0,1104534.0,1448933.3.peg.592,577320.0,577952.0
90,1448933.3.peg.1193,1178019.0,1178966.0,1448933.3.peg.638,625469.0,626578.0
91,1448933.3.peg.1203,1187190.0,1189421.0,1448933.3.peg.1,2.0,2227.0
92,1448933.3.peg.1204,1189526.0,1191790.0,1448933.3.peg.1338,1329427.0,1331733.0
102,1448933.3.peg.1248,1242229.0,1244967.0,1448933.3.peg.1352,1348398.0,1350800.0
103,1448933.3.peg.1248,1242229.0,1244967.0,1448933.3.peg.1352,1348398.0,1350800.0
107,1448933.3.peg.1254,1251764.0,1252564.0,1448933.3.peg.32,33288.0,34172.0
113,1448933.3.peg.1338,1329427.0,1331733.0,1448933.3.peg.1204,1189526.0,1191790.0
116,1448933.3.peg.1341,1333582.0,1334934.0,1448933.3.peg.896,870341.0,872830.0
117,1448933.3.peg.1347,1340116.0,1341039.0,1448933.3.peg.480,473478.0,474488.0
118,1448933.3.peg.1347,1340116.0,1341039.0,1448933.3.peg.380,387578.0,388561.0
119,1448933.3.peg.1352,1348398.0,1350800.0,1448933.3.peg.1248,1242229.0,1244967.0
120,1448933.3.peg.1352,1348398.0,1350800.0,1448933.3.peg.1248,1242229.0,1244967.0
133,1448933.3.peg.1410,1411587.0,1413539.0,1448933.3.peg.1053,1026923.0,1028950.0
134,1448933.3.peg.1410,1411587.0,1413539.0,1448933.3.peg.1040,1010280.0,1012262.0

In [190]:
for idx, row in test.iterrows():
    with open('/home/aster/Project_Geoarchaeota_28.11/results/circos_diagramms/data/repeat_links.txt', 'a') as repeat_file:
        repeat_file.write(f"rep{idx} genome {row['start1']}{row['stop1']}\nrep{idx} genome {row['start2']}{row['stop2']} \n")

# Тоже самое но для А10

In [18]:
import pandas as pd
from Bio import SeqIO

Тут все сложнее так как геном поделен на контиги, благо на IMG есть gff поделенны на контиги

## Создание файла кариотипа из файла контигов

всего 86 контигов

In [73]:
contigs_len = []

for sequence in SeqIO.parse(open('/home/aster/Trmosos_files/results/circos_diagramm/data/2893809466.fna','r'), 'fasta'):
    with open('/home/aster/Trmosos_files/results/circos_diagramm/data/A10_karyotype.txt', 'a') as write_file:
        #chr - ID LABEL START END COLOR
        write_file.write(f"chr - {sequence.name} A10_{sequence.name.split('_')[1]} 0 {len(sequence.seq)} green\n")
        #print(f'{sequence.name} -- {len(sequence.seq)}')

## Преобразование gff для circos

In [8]:
gff_a10 = pd.read_csv('/home/aster/Trmosos_files/results/circos_diagramm/data/2893809466.gff', delimiter='\t', header=None)

In [10]:
gff_a10 = gff_a10.iloc[:,[0,3,4,6,8]]

In [12]:
gff_a10[8] = [i.split(';')[0].split('=')[1] for i in gff_a10[8]]

/tmp/ipykernel_43304/3745091554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gff_a10[8] = [i.split(';')[0].split('=')[1] for i in gff_a10[8]]

In [14]:
gff_a10.head(2)

              0    3     4  6           8
0  Ga0454715_01   26   664  -  2893809466
1  Ga0454715_01  706  1668  +  2893809467

In [48]:
d = {'J':'ff0000', 'A':'c2af58', 'K':'ff9900', 'L':'ffff00', 'B':'ffc600',
    'D':'99ff00', 'Y':'493126', 'V':'ff008a', 'T':'0000ff', 'M':'9ec928',
    'N':'006633', 'Z':'660099', 'W':'336699', 'U':'33cc99', 'O':'00ffff', 
    'C':'9900ff', 'G':'805642', 'E':'99334d', 'H':'727dcc', 'I':'5c5a1b',
    'P':'0099ff', 'Q':'ffcc99', 'R':'ff9999','S':'d6aadf', 'F':'99334d',
    'IQ':'ffcc99',
    '-':'white',
    'EGP':'b8b100',
    'CP':'9900ff',
    'JM':'ff0000',
    'EP':'99334d',
    'NU':'006633',
    'HP':'727dcc',
    'GM':'805642',
    ################
    'LT':'ffff00',
    'KL':'ff9900',
    'BQ':'ffc600',
    'EH':'99334d',
    'FG':'99334d',
    'OU':'00ffff',
    'CE':'9900ff'
    }

In [31]:
eggnog_a10_data = pd.read_csv('/home/aster/Trmosos_files/results/circos_diagramm/data/MM_b8br3mu9.emapper.annotations.tsv', delimiter='\t', header=4)

In [33]:
eggnog_a10_data.head()

,query,seed_ortholog,evalue,score,eggNOG_OGs,max_annot_lvl,COG_category,Description,Preferred_name,GOs,...,KEGG_ko,KEGG_Pathway,KEGG_Module,KEGG_Reaction,KEGG_rclass,BRITE,KEGG_TC,CAZy,BiGG_Reaction,PFAMs
0,2893809466,330779.Saci_1780,3.440000e-64,204.0,"COG2039@1|root,arCOG05850@2157|Archaea,2XQMQ@2...",28889|Crenarchaeota,O,Removes 5-oxoproline from various penultimate ...,pcp,"GO:0006508,GO:0006807,GO:0008150,GO:0008152,GO...",...,ko:K01304,-,-,-,-,"ko00000,ko01000,ko01002",-,-,-,Peptidase_C15
1,2893809467,639282.DEFDS_1234,5.990000e-118,350.0,"COG1775@1|root,COG1775@2|Bacteria,2GEXY@200930...",200930|Deferribacteres,E,"2-hydroxyglutaryl-CoA dehydratase, D-component",-,-,...,-,-,-,-,-,-,-,-,-,HGD-D
2,2893809468,1220534.B655_0450,8.010000e-49,164.0,"COG1014@1|root,arCOG01602@2157|Archaea,2XXK2@2...",183925|Methanobacteria,C,"indolepyruvate ferredoxin oxidoreductase, beta...",iorB,-,...,ko:K00180,-,-,-,-,"br01601,ko00000,ko01000",-,-,-,POR
3,2893809469,673860.AciM339_0762,8.790000e-262,739.0,"COG4231@1|root,arCOG01609@2157|Archaea,2XUNR@2...",28890|Euryarchaeota,C,Catalyzes the ferredoxin-dependent oxidative d...,iorA,-,...,ko:K00179,-,-,-,-,"br01601,ko00000,ko01000",-,-,-,"Fer4,Fer4_7,POR_N,TPP_enzyme_C"
4,2893809470,673860.AciM339_0763,1.310000e-158,451.0,"COG1013@1|root,arCOG01601@2157|Archaea,2XT3E@2...",28890|Euryarchaeota,C,"Thiamine pyrophosphate enzyme, C-terminal TPP ...",vorB,-,...,"ko:K00170,ko:K00187","ko00010,ko00020,ko00280,ko00620,ko00633,ko0064...","M00173,M00307,M00374,M00620","R01196,R01199,R07160,R08034,R08566,R08567","RC00004,RC00250,RC02742,RC02833,RC02856","br01601,ko00000,ko00001,ko00002,ko01000",-,-,-,TPP_enzyme_C

In [49]:
for idx, row in eggnog_a10_data.iterrows():
    for idx2,row2 in gff_a10.iterrows():
        if row['query'] == row2[8]:
            gff_a10.loc[idx,'color'] = f"fill_color={d[row['COG_category']]}"

In [51]:
plus_strand_a10 = gff_a10[gff_a10[6] == '+']
minus_strand_a10 = gff_a10[gff_a10[6] == '-']

In [53]:
plus_strand_a10.head()

               0     3     4  6           8              color
1   Ga0454715_01   706  1668  +  2893809467  fill_color=99334d
8   Ga0454715_01  7199  7480  +  2893809474  fill_color=ffcc99
9   Ga0454715_01  7486  8079  +  2893809475  fill_color=ff0000
10  Ga0454715_01  8072  8647  +  2893809476  fill_color=ff9900
11  Ga0454715_01  8662  8820  +  2893809477  fill_color=0000ff

## Создание highlite файлов

ID START STOP COLOR

In [55]:
for idx, row in plus_strand_a10.iterrows():
    with open('/home/aster/Trmosos_files/results/circos_diagramm/data/plus_strand_highlights.txt', 'a') as plus_file:
        plus_file.write(f"{row[0]} {row[3]} {row[4]} {row['color']}\n")

In [56]:
for idx, row in minus_strand_a10.iterrows():
    with open('/home/aster/Trmosos_files/results/circos_diagramm/data/minus_strand_highlights.txt', 'a') as minus_file:
        minus_file.write(f"{row[0]} {row[3]} {row[4]} {row['color']}\n")

## CG_skew

In [57]:
def CG_cont(lis:str) -> float:
    lis = lis.upper()
    GC = lis.count('G') + lis.count('C')
    return GC/len(lis)

def CG_skew(lis:str) -> float:
    lis = lis.upper()
    G = lis.count('G')
    C = lis.count('C')
    return (G - C)/(G + C)

In [78]:
def slider(seq,sliding_window, step_size):
    #sliding_window = 1000
    step = 0
    #step_size = 1000
    r_bords = []
    GCskew = []
    #GCcont = []
    l_bords = []
    for i in range(0,len(seq)):

        l_bord = step
        r_bord = sliding_window + l_bord
        step += step_size
        window = seq[l_bord:r_bord]

        l_bords.append(l_bord+1)
        r_bords.append(r_bord-sliding_window+1)
        GCskew.append(CG_skew(window))
        #GCcont.append(CG_cont(window))

        if r_bord >= len(seq):
            break

    GCskew.append((GCskew[0] + GCskew[-1])/2) #Замыкание кольца гистограммы
    #GCcont.append((GCcont[0] + GCcont[-1])/2)
    l_bords.append(l_bords[-1] + sliding_window-step_size )
    r_bords.append(r_bords[-1]  + sliding_window )
    return list(zip(l_bords,r_bords,GCskew))

In [83]:
for sequence in SeqIO.parse(open('/home/aster/Trmosos_files/results/circos_diagramm/data/2893809466.fna','r'), 'fasta'):
    with open('/home/aster/Trmosos_files/results/circos_diagramm/data/A10_GC_skew.txt','a') as skew_file:

        if len(sequence.seq) >= 5000:
            lst = slider(str(sequence.seq), sliding_window=5000,step_size=1000)
            for i,j,k in lst:
                if k > 0:
                    skew_file.write(f"{sequence.name} {i} {j} {k} fill_color=green\n")
                else:
                    skew_file.write(f"{sequence.name} {i} {j} {k} fill_color=red\n")

        else:
            lst = slider(str(sequence.seq), sliding_window=1000,step_size=1000)
            for i,j,k in lst:
                if k > 0:
                    skew_file.write(f"{sequence.name} {i} {j} {k} fill_color=green\n")
                else:
                    skew_file.write(f"{sequence.name} {i} {j} {k} fill_color=red\n")