In [1]:
import pandas as pd

# Finding repeats in genome by blastn

https://dbsloan.github.io/TS2019/exercises/circos.html#add-gc-skew-data-to-the-plot

### blast string 

 blastn -word_size 28 -evalue 1e-10 -db ./data/1448933.3.fna -query ./data/1448933.3.fna -outfmt "6 qaccver stitle pident length mismatch gapopen evalue qcovs bitscore" -out self_blast.tsv

### results

In [6]:
repats_data = pd.read_csv('/home/aster/Project_Geoarchaeota_28.11/results/repeats_ident_in_genome/self_blast.tsv', delimiter='\t', header=None)

In [7]:
repats_data.head()

,0,1,2,3,4,5,6,7,8
0,fig|1448933.3.peg.1,fig|1448933.3.peg.1,100.00,2226,0,0,0.000000e+00,100,4111.0
1,fig|1448933.3.peg.1,fig|1448933.3.peg.1203,91.07,1803,146,12,0.000000e+00,81,2423.0
2,fig|1448933.3.peg.2,fig|1448933.3.peg.2,100.00,897,0,0,0.000000e+00,100,1657.0
3,fig|1448933.3.peg.3,fig|1448933.3.peg.3,100.00,1263,0,0,0.000000e+00,100,2333.0
4,fig|1448933.3.peg.4,fig|1448933.3.peg.4,100.00,138,0,0,1.290000e-69,100,255.0

In [9]:
repats_data2 = repats_data[repats_data[0] != repats_data[1]]

In [10]:
processed_data = pd.DataFrame({'Subject':repats_data2[0],
                                'Query':repats_data2[1],
                                'identity':repats_data2[2],
                                'lenght':repats_data2[3],
                                'missmatch':repats_data2[4],
                                'gapopen':repats_data2[5],
                                'evalue':repats_data2[6],
                                'coverage':repats_data2[7],
                                'bitscore':repats_data2[8]})

In [12]:
processed_data.to_csv('/home/aster/Project_Geoarchaeota_28.11/results/repeats_ident_in_genome/repeats.tsv', sep='\t', index=False)